@import "tailwindcss";



:root {
  --background: #FAFAFA;
  --foreground: #171717;
  /* --bfc-green: #00A65A; */
  --bfc-green: #04B488;
  --bfc-blue: #0056B3;
  --bfc-teal: #008080;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bfc-green: var(--bfc-green);
  --color-bfc-blue: var(--bfc-blue);
  --color-bfc-teal: var(--bfc-teal);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FAFAFA;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-sans), Arial, Helvetica, sans-serif; */
  font-family: var(--font-inter);
}

.mutual-funds-hrd {
  border: 1px groove #011EFE !important;
  opacity: 1;
}

@layer utilities {
  .text-gradient-green-blue {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-bfc-green to-bfc-blue;
  }

  .border-gradient-blue-green {
    border: 4px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(to right, #0056B3, #00A65A);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .clip-path-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

/* Video Popup Overlay Styles */

.popup-video {
  position: relative;
  width: 90%;
  max-width: 700px;
  background: #000;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.popup-video iframe {
  width: 100%;
  height: 400px;
  border: none;
}

.close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 32px;
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  border-color: white;
  transform: scale(1.15);
}

.video_home_prodgy {
  background: none;
  width: 380px;
  height: auto;
  position: absolute;
  top: 40px;
  left: 300px;
}

/* Video Popup end Overlay Styles */



/* Tablet landscape */
@media (min-width: 991px) and (max-width: 1024px) {
  .video_home_prodgy {
    background: none;
    width: 250px;
    height: auto;
    position: absolute;
    top: 65px;
    left: 270px;
  }
}

/* Mobile and Tablet portrait */
@media (min-width: 320px) and (max-width: 768px) {
  .video_home_prodgy {
    background: none;
    margin-top: 10px;
    width: 100%;
    height: auto;
    position: unset;
  }

  .video_home_prodgy iframe {
    width: 100%;
  }

  .popup-video {
    width: 95%;
    max-width: 95%;
  }

  .close-btn {
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    font-size: 36px;
  }
}

/* Small mobile devices */
@media only screen and (max-width: 425px) {
  .video_home_prodgy {
    background: none;
    width: 100%;
    height: auto;
    position: unset;
  }

  .close-btn {
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 32px;
  }
}