@import "tailwindcss";


:root {
  --background: #F9FAFB;
  --foreground: #171717;
  /* --bfc-green: #00A65A; */
  --bfc-green: #04B488;
  --bfc-blue: #0056B3;
  --bfc-teal: #008080;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bfc-green: var(--bfc-green);
  --color-bfc-blue: var(--bfc-blue);
  --color-bfc-teal: var(--bfc-teal);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-sans), Arial, Helvetica, sans-serif; */
  font-family: var(--font-inter);
}

@layer utilities {
  .text-gradient-green-blue {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-bfc-green to-bfc-blue;
  }

  .border-gradient-blue-green {
    border: 4px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(to right, #0056B3, #00A65A);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .clip-path-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}